body {
  font-family: sans-serif;
  background-color: lightgrey;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* my styling */
ul {
  list-style-type: none;
}

li.selected {
  font-weight: bold;
}

#myCloset {
  display: flex;
  justify-content: space-between;
}

#closetList {
  display: flex;
  flex-wrap: wrap;
}

#search {
  flex-shrink: 0;
}

#closet {
  width: 70%;
  flex-shrink: 1;
}

#ootd {
  width: 20%;
  flex-shrink: 0;
}

li {
  margin-right: 50px;
}

p {
  margin-bottom: 0;
}
