body {
  font-family: sans-serif;
  background-color: lightgrey;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* my styling */
ul {
  list-style-type: none;
}

li.selected {
  font-weight: bold;
}

.myCloset {
  display: flex;
}

.closetList {
  display: flex;
  flex-wrap: wrap;
}

.search {
  flex-shrink: 0;
  width: 18%;
}

.closet {
  width: 60%;
  flex-shrink: 1;
}

.closetHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ootd-bar {
  width: 20%;
  flex-shrink: 0;
  position: fixed;
  top: 140px;
  right: 0;
}

.ootdParentContainer {
  height: 330px;
  display: flex;
}

.ootdChildContainer-1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ootdChildContainer-2 {
  margin: 0;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 0;
  margin: 10px  25px;
}

p {
  margin-bottom: 0;
}

.search-list > li {
  margin: 0;
}

li > a {
  font-size: 0.9rem;
}


